.task {
  padding: 15px;
  display: flex;
}

.checkbox {
  cursor: pointer;
  transform: scale(2, 2);
  margin: 10px 15px 0 0;
}

.input,
.completedTodoText {
  border: 0;
  font-size: 18px;
  flex: 1 auto;
  border-bottom: 2px solid grey;
  padding: 5px 0;
}

.priority,
.completedTodoPriority {
  font-size: 16px;
  border: 0;
  border-bottom: 2px solid grey;
  text-transform: lowercase;
}

.completedTodoPriority {
  margin-top: 5px;
  padding-right: 16px;
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
