.container {
  margin: 15px 0 0 0;
  padding: 15px;
  border-top: 2px solid slategrey;
  display: flex;
}

.container h2 {
  color: slategrey;
  flex: 1 auto;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.total {
  color: slategrey;
}
